body.page_1949{ background: #fff!important; }

/* global  */

.page_1949 h2.head_border_bottom_yellow{ font-size: 3rem; position: relative; }
.page_1949 h2.head_border_bottom_yellow span{ font-size: 4.50rem; }
.page_1949 h2.head_border_bottom_yellow::after{
    content: '';
    width: 100px;
    height: 8px;
    background: #ff9000;
    position: absolute;
    bottom: 30px;
    left: 0;
    border-radius: 0px 0px 0px 0px;
}

#page_1949_text_content{
    position: relative;
}
#page_1949_text_content::after{ 
    content: '';
    width: 220px;
    height: 5px;
    background: #ff9000;
    position: absolute;
    top: 60px;
    left: 14px;
    border-radius: 0px 0px 0px 0px;
}

#number_btn a{
    background-color: white;
}
/* edit */
body.no-contract #mainContent_1 .box_offers .box_header_text h3{ _font-size: 1.80rem;}

body.no-contract #mainContent_1 .box_offers .box_header_text h3 span{ _font-size: 2.40rem; _margin-top: .5rem; }

/* fiber_advanced_mainBanner  */

#mainContent_1 .box_offers .box_header_text{border-radius: 22px; }
#page_1949_banner{
    position: relative;

}
#page_1949_mainBanner{
    position: relative;
    z-index: 1;
    background: #fff;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

#page_1949_banner_shadow{
    top: -7.6rem;
    left: 133px;
    z-index: -1;
}

#page_1949_banner h1{ 
    font-size: 3rem; 
    color: #11304e; 
    line-height: 1; 
    position: relative;
    text-align: center!important;
}
#page_1949_banner h1::before{ 
    content: '';
    position: absolute;
 
    width: 72px;
    height: 154px;
    top: -3rem;
    left: 18rem;
}
.imae1949 {
    max-width: 98%!important;
    height: auto;
}
.pt-5 {
    padding-top: 0rem !important; 
}
/*#page_1949_banner h1{  
    display: block;
    position: relative;
    z-index: 1;
} */
#page_1949_banner h1 span.banner_text_1{
    font-size: 77px;
    font-weight: 400;
    line-height: 56px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.banner_text_1
{
    color: #ff9c00;
    font-size: 75px;
}


#page_1949_banner h1 span.banner_text_2{
    font-size: 3.5rem;

    margin-bottom: 25px;
    margin-top: 15px;
}

#page_1949_banner h1 span i{ font-style: normal; }
#page_1949_banner p.price{ 
    font-size: 4.80rem; 
    color: #11304e;
    position: relative;
    line-height: 88px;
}



#page_1949_banner h1{
    font-size: 55px;
    color: #11304e;
    line-height: 2.7rem;
    position: relative;
}




#page_1949_banner::before{
    position: absolute;
    content: '';
    background: url(../images/img-rocket-after.png) no-repeat;
    width: 123px;
    height: 268px;
    top: 0;
    left: 0;
    
}

#page_1949_banner p.price span{
    font-size: 3rem;
}
#page_1949_banner p.btn_submit_buy_now button{ 
    font-size: 1.9rem; 
    border-color: #ff9c00; 
    color: #ff9c00; 
    border-radius: 0px; 
    border-width: 2px;
    position: relative;
    padding: 5px 23px;
    margin-top: 15px;

}

.pb-5 {
    padding-bottom: 0rem !important; 
}
#page_1949_banner::before{
    position: absolute;
    content: '';
    background: url(../images/img-rocket-after.png) no-repeat;
    width: 123px;
    height: 268px;
    top: 0;
    left: 0;
    z-index: 9;
}


/* broadband_content_1 */
#page_1949_content{
    padding-top: 2rem;
    background: url(../images/broadband_bg_shape.png) no-repeat 114% -41%;
}

#page_1949_content h2.header_text{
    font-size: 3rem;
    position: relative;
}
#page_1949_content h2.header_text::after{
    content: '';
    width: 150px;
    height: 8px;
    background: #ff9000;
    position: absolute;
    bottom: -15px;
    left: 0;
    border-radius: 0px 40px 40px 0px;
}


#contract_info p{
    font-size: 1.80rem;
    position: relative;
}

#contract_info p { 
    color: #4d4d4d;
}

#page_1949_content p a{ 
    text-decoration: none;
    color: #4d4d4d;
}
/* Button used to open the chat form - fixed at the bottom of the page */





.open-button {
    background-color: #11304e;
    color: white;
    font-size: 25px;
    padding: 0px 11px;
    border: none;
    cursor: pointer;
    position: sticky;
    bottom: 23px;
   right: 28px;
    transition: all .25s ease-in-out;
     position: fixed;
    /* display: inline-flex; */
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    height: 54px;
    border-radius: 5px;
  }
  .open.button.hide {
    visibility: hidden;
    opacity: 0;
  }
  .open.button.svg {
    fill: #000;
    width: 24px;
    height: 12px;
  }
  .image1949 {
    max-width: 101%;
    height: auto;
}
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: sticky;
    /* position: relative; */
    bottom: 0;
    right: 15px;
   
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
   
    padding: 10px;
    background-color: white;
     height:650px;
      overflow-y:auto;
      margin-top: 2rem;
      border: #11304e;
      border-style: solid;
      border-radius: 5px;
      border-width: 0.5rem;
  }


  /* Full-width textarea */
  .form-container textarea {
    width: 50%;
    height: 45px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
 
  }
 
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #11304e;
    color: white;
    height: 40px;
    border: none;
    cursor: pointer;
    width: 100%;
    position: relative;
  }

  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color:#ff9000;
    width: fit-content;
    height: fit-content;
    float: right;
    border-radius: unset!important;
    /* text-align: end!important; */
  }

  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
#page_1949_content .list-group li:first-child{ border-top: 0; }
#page_1949_content .list-group li{
    font-size: 1.70rem;
    border-left: none;
    border-right: none;
    padding-left: 0;
    font-weight: 600;
    border-bottom: 2px solid #e5e3e2;
    background: none;
    color: #11304e;
}
#page_1949_content .list-group li::after{
    content: '';
    background: url(../images/icons/thin_arrow.png) no-repeat;
    position: absolute;
    width: 45px;
    height: 36px;
    right: 0;
    top: 29px;
}


#page_1949_content #shapes_bg #triagle_1{ position: absolute; right: -24rem; top: 3.50rem; }
#page_1949_content #shapes_bg #triagle_2{ position: absolute; right: -32.5rem; top: 3.50rem;transform: rotate(85deg); }
#page_1949_content #shapes_bg #triagle_3{ position: absolute; right: -31rem; top: 12rem; transform: rotateZ(25deg); }

@media (max-width: 1024px){
    #page_1949_content #left_img_content img{
        width: 100%;
    }
    #paeg_1949_text_content{
        padding-top: 5rem;
    }
    #page_1949_content{
        background: url(../images/broadband_bg_shape.png) no-repeat 114% 2%;
    }
    #page_1949_content .list-group li::after {
        height: 100%;
        right: 0;
        top: 0;
        background-position: center;
    }
    
}

@media only screen and (max-width: 768px) and (min-width: 600px){
    #page_1949_banner h1{     
        font-size: 2rem;
        text-align: left!important;
        padding-left: 0; 
    }
    #aboutus_banner h1::before {
        display: none!important;
         position: absolute;
         background: url(../images/icons/human.png) no-repeat;
         width: 72px;
         height: 154px;
         top: -1.6rem;
         left: 267px;
         /* right: -7rem; */
     }
    #page_1949_banner h1 span.banner_text_1{
        _font-size: 3rem;
    }
    #page_1949_banner p{
        padding-left: 0;
        line-height: 1.7rem!important;
    }
    #page_1949_banner p.btn_submit_buy_now {
        text-align: left!important;
    }
    #page_1949_banner p.btn_submit_buy_now button{
        padding: 6px 17px;
        font-size: 1.40rem;

    }
    #page_1949_banner h1 span.banner_text_2{
        position: revert;
        
    }
      #page_1949_banner h1 span.banner_text_2:after{
     content: '';
    position: absolute;
    background: url(../images/icons/human.png) no-repeat;
    width: 72px;
    height: 154px;
    top: 16px;
    right: 0px;
    color: #11304e;
    }
  
    #page_1949_content #shapes_bg #rocket_up{ right: -19rem; }
    #page_1949_content #shapes_bg #triagle_1{ right: -15rem;  }
    #page_1949_content #shapes_bg #triagle_2{ right: -21.5rem; }
    #page_1949_content #shapes_bg #triagle_3{  right: -20rem;  }
    #page_1949_content h2.header_text{ font-size: 2rem; }
    #page_1949_content .list-group li{
        font-size: 1.3rem;
        padding-right: 38px;
    }
    #page_1949_banner::before{
        left: 0;
    }
}
@media only screen and (max-width: 576px) and (min-width:320px){
.form-container{
    width: 200%;
    height: 500px;
    margin-top: 2rem;
    border: #11304e;
    border-style: solid;
    border-radius: 5px;
    border-width: 0.5rem;
 }
 #aboutus_banner h1::before {
    display: none!important;
     position: absolute;
     background: url(../images/icons/human.png) no-repeat;
     width: 72px;
     height: 154px;
     top: -1.6rem;
     left: 267px;
     /* right: -7rem; */
 }
 .image1949{
   max-width: 100%!important;
  
 }
 #page_1949_banner h1 span.banner_text_1{
    font-size: 60px;
    font-weight: 400;
    line-height: 56px;
    margin-top: 30px;
    margin-bottom: 10px;
}
#page_1949_banner h1 span.banner_text_2 {
    font-size: 2.5rem;
    margin-bottom: 25px;
    margin-top: 15px;
}
#page_1949_banner h1 {
    font-size: 47px;
    color: #11304e;
    line-height: 2.7rem;
    position: relative;
}

 #page_1949_content {
    padding-top: 0rem;
   
}
  
 .form-container  textarea {
    width: 87%;
}
#page_1949_content #shapes_bg #triagle_1{
    display: none;
}
#page_1949_content #shapes_bg #triagle_2{
    display: none;
}
#page_1949_content #shapes_bg #triagle_3{
    display: none;
}
#page_1949_banner h1::before{ 
     display: none!important;
    position: absolute;
 
    width: 72px;
    height: 154px;
    top: -3rem;
    left: 18rem;
}
}

@media (min-width: 2560px){
    .container{
        max-width: 1658px;
    }
}